/*===============================BASE-----------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Amiko&display=swap');

/*===============================LOGOS-----------------------------------------------------*/
* {
    box-sizing: border-box;
}

header {
    display: flex;
    height: 80px;
}

body {
    overflow-x: hidden;
    ;
}

.bulliproof {
    display: flex;
    background-image: url("../images/Bulliproof.png");
    width: 207px;
    height: 65px;
    background-size: contain;
}

.dror {
    display: flex;
    background-image: url("../images/dror.png");
    width: 65px;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
}
.sidebar-menu{
    max-width:102px;
}
@media (min-width: 769px) {
    header {
        width: 100vw;
        justify-content: space-between;
    }

    .bulliproof {
        margin-left: 40px;
        margin-top: 20px;
    }

    .dror {
        margin-right: 40px;
        margin-top: 20px;
    }

    #mobile-btn {
        display: none;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .bulliproof {
        margin: auto;
        align-self: center;
        width: 150px;
        height: 47px;
    }

    .dror {
        display: none;
    }
}

/*===============================NAVBAR-----------------------------------------------------*/

.sidebar-menu .sidebar {
    position: relative;
    width: 88px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #ccc;
    transition: width 0.6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-text {
    display: none;
    transition: display 0.6s ease;
}

.sidebar-menu .sidebar.expanded {
    width: 290px;
}

.sidebar.expanded .bar-text {
    display: inline;
}

.sidebar-menu .sidebar .hamburger {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-left: 25px;
    padding-right: 30px;
}

    .sidebar-menu .sidebar .hamburger h2 {
        color: #666;
        font-size: 24px;
        align-items: center;
        font-weight: bold;
    }

    .sidebar-menu .sidebar .hamburger .side-btn-hem {
        font-size: 24px;
        color: #666;
        cursor: pointer;
    }

.sidebar-menu .sidebar .ul-sidebar {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    padding-left: 20px;
}

    .sidebar-menu .sidebar .ul-sidebar .close-it {
        padding: 14px 27px;
        width: 100%;
        margin-top: 15px;
        border: 3px solid transparent;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding-inline-start: 0px;
    }

        .sidebar-menu .sidebar .ul-sidebar .close-it:hover {
            border-right: 3px solid #5982fe;
            transition: 0.4s all ease-in-out;
            -o-transition: 0.4s all ease-in-out;
            -moz-transition: 0.4s all ease-in-out;
            -webkit-transition: 0.4s all ease-in-out;
        }

        .sidebar-menu .sidebar .ul-sidebar .close-it > a {
            display: flex;
            justify-content: space-between;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
            color: #545454;
            text-decoration: none;
            padding-inline-start: 0px;
        }

.my-container {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (min-width: 769px) {

    .my-container.active {
        margin-left: -300px;
    }

    .my-container {
        display: flex;
        height: calc(100vh - 180px);
        width: calc(100vw - 88px);
        flex-direction: column;
    }

    .fafaicon > img {
        width: 30px;
        height: 30px;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        transition: margin-left 0.6s ease;
        width:80%;
    }

    .main-content.sidebar-expanded {
        flex-grow: 1;
        margin-left: 200px;
    }
}

@media (max-width: 768px) {
    
    #inner-menu-btn {
        display: none;
    }

    body {
        flex-direction: column;
    }

    table {
        font-size: 13px;  
    }

    .sidebar-menu {
        display: none;
    }
   
    .sidebar-menu .sidebar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
       
    }

     .sidebar-menu .sidebar.expanded {
        transform: translateX(0);
        z-index: 1000;
        transition: transform 0.6s ease;
        background-color: #fff;
        position: fixed;
    }

    .main-content {
        margin-left: 0;
    }

    .my-container.active {
        margin-left: 0;
    }

    .sidebar-menu .sidebar .hamburger .side-btn-hem {
        position: fixed;
        left: 10px;
    }

    .side-btn-hem i {
        font-size: 35px;
    }

    #mobile-btn {
        position: fixed;
    }
    .relative{
        position:relative;
    }
    #account {
        position: fixed;
        left: 100%;
        transform: translateX(-120%);
        top: 15px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#wrapper {
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}


/*===============================HEADER-----------------------------------------------------*/
.top-part {
    display: flex;
    width: 100%;
}

.headline {
    display: flex;
}

.left-top {
    display: flex;
    flex-shrink: 0;
}

h2,
h3 {
    width: 100%;
    white-space: nowrap;
}

h1 {
    font-family: 'Amiko', sans-serif;
}

@media (max-width: 768px) {
    .top-part {
        align-items: flex-start;
        justify-content: space-around;
    }

    .headline {
        margin-left: 0;
        margin-top: 20px;
    }

    .left-top {
        flex-direction: column;
    }

    h1 {
        font-size: 28px;
    }
}

@media (min-width: 769px) {
    .top-part {
        flex-direction: row;
        justify-content: space-between;
    }

    .headline {
        margin-left: 20px;
    }

    .left-top {
        flex-direction: row;
    }

    h1 {
        font-size: 35px;
    }
}

/*===============================BREADCRUMBS-----------------------------------------------------*/

a:link,
a:visited,
a:active {
    color: black;
}

/*===============================PROFILE-----------------------------------------------------*/

.profile {
    display: flex;
    flex-shrink: 0;
}

p {
    color: #232323;
    font-family: 'Amiko', sans-serif;
}

@media (min-width: 769px) {
    .profile {
        flex-direction: row;
        margin-right: 20px;
        min-width: 200px;
    }

    .dropdown-toggle {
        outline: 0;
    }

    .welcome-message {
        margin-right: 8px;
        margin-top: 30px;
    }

    .mobile-dropdown {
        display: none;
    }
}

@media (max-width: 768px) {

    .profile {
        flex-direction: column;
        align-items: flex-end;
        margin-right: 0;
    }

    .welcome-message {
        display: none;
    }

 

    .dropdown-toggle {
        display: none;
    }
}

/*===============================MAIN-----------------------------------------------------*/

.content-box {
    max-height: calc(100vh - 314px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.search {
    display: flex;
    flex-direction: row;
}

h3 {
    font-size: 20px;
    margin-left: 20px;
    justify-content: center;
    align-self: center;
}

h2 {
    font-family: 'Amiko', sans-serif;
    font-size: 28px;
}
#footer{
    position:fixed;
    top:100%;
    left:0;
    width:100%;
}
#footer-margin{
    margin-top:100px;
}
.has-search .form-control {
    padding-left: 2.375rem;
    margin-left: 20px;
    width: 80%;
    min-width:100px;
    max-width:100%;
}

.has-search .form-control-feedback {
    margin-left: 20px;
    position: absolute;
    z-index: 2;
    display: block;
    width: 2rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

a.add {
    display: inline-block;
    text-decoration: none;
}

    a.add .add-icon {
        display: inline-block;
    }

.add {
    min-width: 50px;
    justify-content: center;
    align-self: center;
    background-color: transparent;
    border: none;
    margin-left: 40px;
    margin-right: 40px;
}

    .add:hover {
        border-radius: 30%;
        background-color: #232323;
    }

.add-icon {
    background-image: url("../images/addperson.png");
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
}

    .add-icon:hover {
        background-repeat: no-repeat;
        background-image: url("../images/addwhite.png");
    }

/*===============================TABLE-----------------------------------------------------*/

.tabletop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.table-list {
    display: flex;
    margin-top: 40px;
    flex-direction: column;
}



.clickable-row {
    cursor: pointer;
}

.table {
    margin-left: auto;
}

button {
    display: flex;
    font-family: 'Amiko', sans-serif;
    font-size: 15px;
    border-style: none;
    float: right;
}

    button:hover {
        background-color: #232323;
        color: white
    }

/*===============================FOOTER-----------------------------------------------------*/

footer {
    background-color: #555555;
    display: flex;
    bottom: 0;
}

.copyright {
    color: white;
    font-family: 'Amiko', sans-serif;
    font-size: 11px;
}

@media (min-width: 769px) {
    footer {
        width: 100vw;
        height: 50px;
        margin-top: auto;
    }

    .copyright {
        margin-left: 30px;
        justify-content: center;
        align-self: center;
    }
}

@media (max-width: 768px) {
    footer {
        width: 100%;
        height: auto;
    }

    .copyright {
        text-align: center;
        margin-left: 0;
    }
}
/*--------------LIAM-----------------------------*/

.details {
    display: flex;
    height: fit-content;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Amiko', sans-serif;
}

    .information > p {
        display: flex;
        margin: 10px;
    }

.contact {
    font-weight: bolder;
    font-size: larger;
}

.person {
    width: 100%;
    display: flex;
}

.imageliam {
    width: 103px;
    height: 103px;
}

.liamheader {
    font-family: 'Amiko', sans-serif;
    font-size: 40px;
}

.summary {
    display: flex;
    flex-direction: column;
}

    .summary > p {
        margin-top: 0px;
        font-size: 16px;
    }

.edit {
    background-image: url("../images/edit.png");
    width: 13px;
    height: 13px;
}

.btn {
    background-color: #666;
    color: white;
}

    .btn:active {
        background-color: #ccc;
        color: black;
    }

    .btn:hover {
        background-color: white;
        color: #666;
    }

@media (min-width: 769px) {
    .details {
        flex-direction: row;
    }

    .information {
        width: 30%;
        margin-top: 40px;
    }

    .person {
        flex-direction: row;
    }

    .liamheader {
        margin: auto;
        margin-left: 0px;
    }

    .summary {
        margin-left: 40px;
    }

    .edit {
        margin-bottom: 8px;
        margin-left: 430px;
    }

    .form-control {
        width: 450px;
    }
}

@media (max-width: 768px) {
    .details {
        flex-direction: column;
    }

    .information {
        width: 100%;
        margin-top: 20px;
    }

    .person {
        flex-direction: column;
        align-items: center;
    }

    .imageliam {
        margin: 0 auto;
        align-self: flex-end;
    }

    .liamheader {
        text-align: center;
        margin: 20px 0;
    }

    .summary {
        margin-left: 0;
    }

    .edit {
        display: none;
    }

    .form-control {
        width: 100%;
    }

    .btn {
        width: 100%;
        margin: 10px 0;
    }

        .btn:active, .btn:hover {
            background-color: #666;
            color: white;
        }
}


/*-------HISTORY--------------------*/
.history {
    display: flex;
}

.history-list {
    overflow: auto;
}

.red-warning {
    display: flex;
    background-image: url("../images/redwarning.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.modify {
    display: flex;
    flex-direction: row;
}

.pen {
    background-image: url("../images/edit.png");
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

.send {
    background-image: url("../images/send.png");
    width: 13px;
    height: 13px;
    margin-right: 8px;
}

.simulation {
    background-image: url("../images/watch.png");
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.download {
    background-image: url("../images/download.png");
    width: 15px;
    height: 15px;
    margin-right: 8px;
}

.missing-anomalies {
    display: flex;
    background-image: url("../images/line.png");
    width: 13px;
    height: 13px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-top: 10px;
}

.yellow-warning {
    display: flex;
    background-image: url("../images/yellowarning.png");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.edit,
.simulation,
.send,
.pen,
.download:hover {
    cursor: pointer;
}
